<div class="container">
    <form [formGroup]="personelForm" #f>
        <mat-form-field appearance="fill">
            <mat-label>Full Name</mat-label>
            <input formControlName="fullname" matInput type="text" placeholder="type personnel name" required>
        </mat-form-field>

        <br>
        <mat-form-field appearance="fill">
            <mat-label>email</mat-label>
            <input formControlName="email" matInput type="email" placeholder="type email" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Phone</mat-label>
            <input formControlName="phone" matInput type="text" placeholder="type phone" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Position</mat-label>
            <input formControlName="position" matInput type="text" placeholder="type personnel position" required>
        </mat-form-field>
        <br>
    </form>

    <input type="submit" value="submit" (click)="onSubmit()">
</div>

<pre><code>
    
</code></pre>