<div class="container">
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Full Name</mat-label>
            <input matInput type="text" placeholder="type  personnel name" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>email</mat-label>
            <input matInput type="email" placeholder="type email" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Phone</mat-label>
            <input matInput type="text" placeholder="type phone" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Position</mat-label>
            <input matInput type="text" placeholder="type personnel position" required>
        </mat-form-field>
        <br>
    </form>
</div>